[Unit]
Description=PiPatroller gunicorn daemon

[Service]
Type=simple
User=www-data
ExecStart=/var/www/PiPatroller/run_server.sh

[Install]
WantedBy=multi-user.target
