[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
fake-rpi = {version = "*",sys_platform = "== 'darwin'"}
pyttsx3 = "*"
opencv-contrib-python = "*"
rpi-gpio = {version = "*",sys_platform = "!= 'darwin'"}
adafruit-pca9685 = {version = "*",sys_platform = "!= 'darwin'"}
opencv-python = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
